.so-widget-sow-headline-sow-headline-25612c8f34c9 #sow-headline-container.sow-headline h1 {
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-weight: 400;
  text-align: left;
  color: #0a0a0a;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-25612c8f34c9 #sow-headline-container.sow-headline h6 {
  font-family: Arial, Helvetica, Geneva, sans-serif;
  font-weight: 400;
  text-align: left;
  color: #3f3f3f;
  line-height: 1.4;
}
.so-widget-sow-headline-sow-headline-25612c8f34c9 #sow-headline-container.sow-headline .decoration {
  border-top: thin none #EEEEEE;
  position: relative;
  height: 1px;
  margin: 20px 60px;
}