.so-widget-sow-icon-sow-icon-1b3b6d451bc6 .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-sow-icon-1b3b6d451bc6 .sow-icon span,
.so-widget-sow-icon-sow-icon-1b3b6d451bc6 .sow-icon a span {
  display: inline-block;
  color: #cfb87b !important;
  font-size: 10rem !important;
}