.so-widget-sow-icon-sow-icon-d22ba5983de2 .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-sow-icon-d22ba5983de2 .sow-icon span,
.so-widget-sow-icon-sow-icon-d22ba5983de2 .sow-icon a span {
  display: inline-block;
  color: #cfb87b !important;
}