.so-widget-sow-icon-default-6f0b930d1bcf .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-6f0b930d1bcf .sow-icon span,
.so-widget-sow-icon-default-6f0b930d1bcf .sow-icon a span {
  display: inline-block;
  color: #cfb87b !important;
  font-size: 3rem !important;
}