.so-widget-sow-icon-default-b9377337a50d .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-default-b9377337a50d .sow-icon span,
.so-widget-sow-icon-default-b9377337a50d .sow-icon a span {
  display: inline-block;
  color: #cfb87b !important;
  font-size: 6rem !important;
}