.so-widget-sow-icon-sow-icon-ffd83d1f43db .sow-icon {
  text-align: center;
}
.so-widget-sow-icon-sow-icon-ffd83d1f43db .sow-icon span,
.so-widget-sow-icon-sow-icon-ffd83d1f43db .sow-icon a span {
  display: inline-block;
  color: #cfb87b !important;
  font-size: 4rem !important;
}